</main>
<footer>
  <div class="socials">
    <a href="https://github.com/yunoejay" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://facebook.com/ejayszn" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://instagram.com/yuno.ejay" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://x.com/ykkejay" target="_blank"><i class="fab fa-x-twitter"></i></a>
  </div>
  <p>Ejay Espinosa | All rights reserved.</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" crossorigin="anonymous"></script>
</body>
</html>
