<%- include("partials/header") %>
<div class="error-page">
  <h1 class="error-title">404 – Page Not Found</h1>
  <h1><span id="typed-lost"></span></h1>
  <p>Oops! The page you’re looking for doesn’t exist.</p>
  <a href="/" class="btn">Go Back Home</a>
</div>
<%- include("partials/footer") %>
